extends layout

block content
  .page-header.top
    .container
      h2.info
        .title.pull-left
          |#{meeting.title} 
          div.label(class=(meeting.access === 'Public' ? 'label-success' : 'label-important')) #{meeting.access}
        .pull-right.times
          .btn-group
            
            button(type='button', class=((meeting.when.start < now && meeting.when.end > now) ? 'btn-danger': 'btn-primary')).btn.btn-large
              if meeting.when.start < now && meeting.when.end > now
                strong
                  | Ending in 
                | #{utils.prettyDate(meeting.when.end)}
              else if meeting.when.start > now
                strong 
                  | Starting in 
                | #{utils.prettyDate(meeting.when.start)}
              else if meeting.when.end > now
                strong
                  | Ended on 
                | #{meeting.when.end.toLocaleString()}
            button(type='button').btn.btn-primary.btn-large
              strong
                | Where 
              | #{meeting.where}
        .clearfix
  if meeting.when.end < now
    #meta
      #waveform
      .tags
        span.label.label-info.node 
          .point
          |Node.js @ 1:37
        span.label.label-info.rtc
          .point
          |WebRTC @ 2:48
        span.label.label-info.doc 
          .point
          |Documentation @ 8:45
        span.label.label-info.market 
          .point
          |Marketing @ 10:20
        span.label.label-info.css
          .point
          |CSS3 @ 11:40
        span.label.label-info.coffee 
          .point
          |Elastic Search @ 13:10
        span.label.label-info.punk
          .point
          |Daft Punk @ 14:45
        span.label.label-info.express 
          .point
          |Express.js @ 15:20
    hr.divider
  if meeting.when.start < now && meeting.when.end > now
    .container
      div.row
        div.span12
          script(src='/js/webrtc.io.js');
          script(src='/js/webrtc.js');
          script(src='/js/vendor/socket.io.js')
          script(type='text/javascript') 
            initRTC();  
          #videos
            video#you.flip(autoplay='autoplay', width='260', height='200', style='position: relative; left: 0px; bottom: 0px;')
    hr.divider
    .hidden-desktop
      .container
        a(href='#tag-meeting', data-refresh, data-toggle='modal', role='button').btn.btn-success.btn-large.btn-block.tag-link Tag This
      hr.divider

  .container
    div.row
      div.span9
        div.well.well-white
          div.page-header
            h4.pull-left Tag Discussions
            if meeting.when.start < now && meeting.when.end > now
              span.pull-right.visible-desktop
                a(href='#tag-meeting', data-refresh, data-toggle='modal', role='button').btn.btn-success.tag-link Tag This
            .clearfix
          table.table-bordered.table
            tbody.tag-list
              if meeting.tags.length > 0
                each tag in meeting.tags
                  tr
                    th #{tag.title}
                    td #{tag.time.toLocaleString()}
                    td #{tag.description}
                  
              else
                tr.empty
                  td There are no tags.
      div.span3
        div.page-header.outside
          h4 People Invited
        ul.attendees
          each user in meeting.invitees
            li
              a(href='/profiles/' + user.username, data-toggle='tooltip', data-placement='top', title=user.username)
                img(src='http://www.gravatar.com/avatar/' + user.gravatar + '?s=48&d=identicon&r=PG')

  .modal.hide.fade#tag-meeting
    .modal-header
      button(type='button', data-dismiss='modal').close
        |&times;
      h3.
        Tag This Meeting
    .modal-body
      .control-group
        label(for='tag') Tag Name
        .controls
          input(type='text', name='tag', placeholder='e.g. Daft Punk')#tag.input-block-level
      .control-group
        label(for='description') Description (Optional)
        .controls
          textarea#description(name='description').input-block-level
    .modal-footer
      .btn-group.btn-block
        a(href='#', data-refresh, data-dismiss='modal').btn.btn-danger.btn-large Cancel
        a(href='#', data-refresh).btn.btn-primary.btn-large.tag-add Add Tag

